<!DOCTYPE html>
<html data-ng-app="frenchify" data-ng-controller="MainController">
<head>
    <meta charset="utf-8" />
    <title>{{txt.title}}</title>
    <link rel="stylesheet" type="text/css" href="src/styles/main.css">
</head>
<body>
    <header>
        <h1>
            {{txt.title}}
        </h1>
    </header>

    <div class="main">
        <form>

            <label class="checkbox">
                {{txt.frenchify}}
                <input type="checkbox" data-ng-model="convert.frenchify" data-ng-change="convert()" />
            </label>

            <label class="checkbox">
                {{txt.markdown}}
                <input type="checkbox" data-ng-model="convert.markdown" data-ng-change="convert()" />
            </label>

            <div class="columns">

                <label class="column">
                    {{txt.from}}
                    <textarea data-ng-model="convert.from" data-ng-change="convert()">
                    </textarea>
                </label>

                <label class="column">
                    {{txt.html}}
                    <textarea data-ng-model="convert.html">
                    </textarea>
                </label class="column">

                <div class="column">
                    {{txt.rendered}}
                    <div class="rendered" data-ng-bind-html="convert.html"></div>
                </div>

            </div>

            <!-- <a class="convert" data-ng-click="convert()">{{txt.convert}}</a> -->

        </form>
    </div>

    <footer>
        <a href="https://github.com/pansay/frenchify">{{txt.source}}</a>
    </footer>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="dist/all.js"></script>
</body>
</html>
